:host { display: block; height: 100%; position: relative; }

/* ensure the map container fills the height passed as input or the host */
:host > div { width: 100%; height: 100%; }

.leaflet-container { height: 100% !important; width: 100% !important; }
